body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 0;
  color: #40514E;
}

h1{
  /* width: 10%;
  margin:0 auto 0 auto; */
  font-size: 5.625rem;   /* 16px = 100% = 1em; */
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 4; */
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}

hr{
  /* border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px; */
  border: dotted #EAF6F6 6px;
  width: 5%;
  border-bottom: none;
  margin: 100px auto;
}


.intro{
  text-align: center;
  width: 30%;
  margin: auto;
}
.middle-container{
  margin: 100px 0;
}

.computer-img{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
/* .Design-skill-Discription{
  clear: left;   /* in Paragraph make class*/
/*} */

/* .circular-img{
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
} */

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
/* .challange-skill-Discription{
  clear: right;    /*in Paragraph make a class*/
/*} */

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/* .skill-row{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: inherit;
  width: 50%;
} */

/* .contact-me {
  margin-bottom: 50px
} */

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: None;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  text-decoration: none;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
